.container{
    background-color: rgb(211, 203, 203);
    color: black;
    border: 1px solid black;
    margin: 20px;
    text-align: center;  
    font-size: larger;      
}
.round {
border-radius: 100%;
overflow: hidden;
height: 150px;
width:150px;
background: gray;
margin: 30px;

}